<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/adm" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"></svg>
        Inicio
      </a>
    </li>
    <li>
      <a href="/cadastro-hospede" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Cadastro Hospede
      </a>
    </li>
    <li>
      <a href="/cadastrar-apartamento" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Cadastro Apartamentos
      </a>
    </li>
    <li>
      <a href="/listar-apartamento" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Apartamentos
      </a>
    </li>
    <li>
      <a href="/cadastrar-produto" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Cadastro de Produtos
      </a>
    </li>
    <li>
      <a href="/registrar-pedido" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Registra Pedido
      </a>
    </li>
    <li>
      <a href="/listar-pedido" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Pedidos Registrados
      </a>
    </li>
    <li>
      <a href="/reservas" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"></svg>
        Reservas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Registrar Consumo
      </a>
    </li>
    <li>
      <a href="/listar-produto" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Produtos
      </a>
    </li>
    <li>
      <a href="/listar-fornecedor" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Fornecedores
      </a>
    </li>
    <li>
      <a href="/cadastrar-fornecedor" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Cadastro de Fornecedores
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Fechar Conta
      </a>
    </li>
  </ul>
  <hr>
</div>

