<!doctype html>
<html lang="pt-br">
<body>
  <div>
    <!--================Booking Tabel Area =================-->
    <section class="accomodation_area section_gap">
      <div class="container">
        <div class="section_title text-center">
          <h2 class="title_color">Acomodações do Hotel</h2>
          <p>Veja nossas Acomodações.</p>
        </div>
        <div class="row mb_30">
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/room1.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Quarto Duplo Deluxe</h4></a>
              <h5>R$250<small>/noite</small></h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/room2.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Quanto Individual Deluxe</h4></a>
              <h5>R$200<small>/noite</small></h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/room3.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Suíte de Lua de Mel</h4></a>
              <h5>R$550<small>/noite</small></h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/room4.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Econômico Duplo</h4></a>
              <h5>R$200<small>/noite</small></h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="accomodation_area section_gap">
      <div class="container">
        <div class="section_title text-center">
          <h2 class="title_color">Novas Acomodações</h2>
          <p>Venha experimentar nossas novas acomodações.</p>
        </div>
        <div class="row accomodation_two">
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/suiteMaster01.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Suite Master</h4></a>
              <h5>$230<small>/noite</small></h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/suiteNupcias.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Suíte Núpcias</h4></a>
              <h5>$450<small>/noite</small></h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/SuiteSuperLuxo01.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Suíte Super Luxo</h4></a>
              <h5>$350<small>/noite</small></h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="accomodation_item text-center">
              <div class="hotel_img">
                <img src="../../../assets/img/SuitePNE.jpg" alt="">
                <a href="/reserve-agora" class="btn theme_btn button_hover">Reserve Agora</a>
              </div>
              <a href="#"><h4 class="sec_h4">Suíte P.N.E.</h4></a>
              <h5>$230<small>/noite</small></h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>


</html>
