.title_color {
  color: #222222;
}
.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}
.section_title p {
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  margin-bottom: 0px;
}
.icons{
  margin-top: 50px;
  font-size: 50px;
  margin-left: 150px;
}
.comentario{
  margin-top: 50px;
  font-size: 50px;
  margin-left: 150px;
}

