<!DOCTYPE html>
<html lang="pt-br">
<body>
  <div class="container">
    <div class="section_title text-center">
      <h2 class="title_color">Serviços</h2>
      <p>Nossa equipe que está sempre atenta às preferências e aos detalhes que são importantes para <br>você.</p>
    </div>
    <div>
      <img src="../../../assets/img/exemplo01.jpg" alt="">
    </div>
    <div class="row">
      <div class="col">
        <div class="icons">
          <div><i class="fas fa-bed"></i></div>
        </div>
        <h4 style="text-align: center;"><b>Ambientes</b></h4>
        <p>
          Nossos apartamentos, com carpete ou piso frio, proporcionam comodidade e funcionalidade em dois ambientes totalmente separados.
          Em viagens de negócios, você poderá usufruir de uma confortável área de trabalho com bancada ergonômica e uma sala de estar para pequenas reuniões,
          preservando sua privacidade.
        </p>
      </div>
      <div class="col">
        <div class="icons">
          <div><i class="fab fa-angellist"></i></div>
        </div>
        <h4 style="text-align: center;"><b>Lazer</b></h4>
        <p>
          Para os momentos de descontração, desfrute de nossa piscina climatizada a aproximadamente 29º C,
          própria para natação e sessões de relaxamento nos jacuzzis. Em família ou com amigos, usufrua do salão de jogos com mesas de sinuca,
          sala de carteado e home theater.
        </p>
      </div>
      <div class="col">
        <div class="icons">
          <div><i class="fas fa-dumbbell"></i></div>
        </div>
        <h4 style="text-align: center;"><b>Academia</b></h4>
        <p>
          Por aqui você conta com uma sala de fitness, assim você não perde o hábito da prática de atividade física e ainda, mantém a disposição.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="icons">
          <div><i class="fas fa-wifi"></i></div>
        </div>
        <h4 style="text-align: center;"><b>Internet</b> </h4>
        <p>
          Internet banda larga grátis em todos os apartamentos, wi-fi e cabeada. É possível acessar a internet wi-fi por todo o Hotel.
        </p>
      </div>
      <div class="col">
        <div class="icons">
          <div><i class="fas fa-hand-sparkles"></i></div>
        </div>
        <h4 style="text-align: center;"><b>SPA</b></h4>
        <p>
          Após um dia intenso de trabalho e reuniões desfrute do nosso SPA. <br><br>
          *Agendar previamente na recepção do Hotel
        </p>
      </div>
      <div class="col">
        <div class="icons">
          <div><i class="fas fa-car"></i></div>
        </div>
        <h4 style="text-align: center;"><b>Garagem</b></h4>
        <p>
          Serviço de garagem por R$30,00 a diária. Condições especiais para mensalistas (consultar a central de reservas)
        </p>
      </div>
    </div>
  </div>
</body>
</html>
