<!DOCTYPE html>
<html lang="pt-br">
<body>
  <div class="container">
    <div style="margin-left: 400px;">
      <i class="far fa-comment icons"></i>
    </div>
    <div class="section_title text-center">
      <h2 class="title_color">PERGUNTAS FREQUENTES</h2>
    </div>
    <div>
      <img src="../../../assets/img/exemplo01.jpg" alt="">
    </div>
    <div>
      <div class="section_title text-center" style="margin-top: 20px; margin-bottom: 5px;">
        <h2 class="title_color">Geral</h2>
      </div>
      <p style="font-size: 15px;">
        <b> Qual o horário de check-in/check-out? </b><br>
        As diárias iniciam (check-in) às 14horas e terminam (check-out) ao meio-dia. Entradas antecipadas ou saídas prorrogadas estão sujeitas à disponibilidade do hotel. <br><br>

        <b>Animais são permitidos?</b><br>
        Hotel pet friendly (animais são permitidos) <br><br>

        <b>O hotel dispõe de apartamentos para portadores de necessidades especiais?</b><br>
        Sim, temos suítes adaptadas. Fique à vontade para nos contatar em contato@royalHotel.com.br sobre quaisquer outras dúvidas.<br><br>

        <b>É permitido fumar na propriedade?</b> <br>
        Não é permitido fumar em qualquer área do hotel.<br><br>

        <b> Os quartos permitem camas com rodinhas e/ou berços? É cobrada uma taxa extra por isto?</b><br>
        São disponibilizados berços sem custo adicional. <br><br>

        <b>Qual a idade mínima exigida para realizar o check-in?</b><br>
        A idade mínima é 18 anos e é necessária a apresentação de documentação (certidão de nascimento ou RG).
      </p>
    </div>

  </div>
</body>
</html>
